#options_block{
	padding-top: 20px;
	padding-bottom: 30px;
	display: none;
}
#start{
	padding-top: 40px;
	padding-bottom: 30px;
}
#key_log{
	display: none;
}
#first{
	margin-right: 10px;
}
#result_block{
	display: none;
}
#wrapper{
	margin-top: 20px;
}
.panel-body{
	min-height: 200px;
}
.btn{
	box-shadow: 3px 3px 5px grey;
}
body{
	background-color: #4E7B6E !important;
}
.panel-heading{
	border-bottom: 2px dashed #DDDDDD !important;
}
.panel-footer{
	border-top: 2px dashed #DDD!important;
}
.panel-heading h2{
	font-weight: bolder;
}